<div class="background pb-3">
    <div class="container" style="margin-left: 12rem; padding-right: 0px; vh-100">
        <nav class="navbar navbar-light bg-white p-3 ms-2" style="margin-right:-24px;">
            <div class="container-fluid">
                <a class="navbar-brand" style="font-family: none; font-weight: 900; color: black;">
                    <h1>Add Products</h1>
                </a>
                {{!-- <form class="d-flex">
                    <input class="form-control me-1" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-primary" type="submit">
                        <i class="fa-solid fa-magnifying-glass"></i>
                    </button>
                </form> --}}
            </div>
        </nav>
        <div class="ms-5 mt-5">
            <form action="/admin/add-product" method="post" enctype="multipart/form-data">
                <div class="row mb-3 col-md-7 mt-4">
                    <label for="" class="col-sm-2 col-form-label">Product</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="inputEmail3" name="product">
                    </div>
                </div>
                <div class="row mb-3 col-md-7 mt-4">
                    <label for="" class="col-sm-2 col-form-label">Brand</label>
                    <div class="col-md-10">
                        <select id="inputState" class="form-select" name="brand">
                            <option selected>Choose the Brand...</option>
                            <option>Fossil</option>
                        </select>
                    </div>
                </div>

                <div class="row mb-3 col-md-7 mt-4">
                    <label for="" class="col-sm-2 col-form-label">Stock</label>
                    <div class="col-sm-10">
                        <input type="number" class="form-control" id="inputEmail3" name="stock">
                    </div>
                </div>
                <div class="row mb-3 col-md-7 mt-4">
                    <label for="" class="col-sm-2 col-form-label">Actual Price</label>
                    <div class="col-sm-10">
                        <input type="number" class="form-control" id="inputEmail3" name="actualprice">
                    </div>
                </div>
                <div class="row mb-3 col-md-7 mt-4  ">
                    <label for="" class="col-sm-2 col-form-label">Offer Price</label>
                    <div class="col-sm-10">
                        <input type="number" class="form-control" id="inputEmail3" name="offerprice">
                    </div>
                </div>
                <div class="row mb-3 col-md-7 mt-4">
                    <label for="" class="col-sm-2 col-form-label">Category</label>
                    <div class="col-md-10">
                        <select id="inputState" class="form-select" name="category">
                            <option selected>Choose the Category...</option>
                            {{#each category}}
                            <option>{{this.category}}</option>
                            {{/each}}
                        </select>
                    </div>
                </div>
                <div class="row mb-3 col-md-7 mt-4">
                    <label for="" class="col-sm-2 col-form-label">Image</label>
                    <div class="col-md-10">
                        <input class="form-control" type="file" id="formFileMultiple" name="image" multiple>
                    </div>
                </div>
                <div class="d-flex justify-content-center">
                    <button type="submit" class="btn btn-primary">Save</button>&nbsp;<button type="reset"
                        class="btn btn-danger">Cancel</button>
                </div>
            </form>
        </div>
    </div>
</div>