<div class="background pb-3">
    <div class="container" style="margin-left: 12rem; padding-right: 0px; vh-100">

        <a class="navbar-brand mt-4" style="font-family: none; font-weight: 900; color: black;">
            <h1 class="text-center pt-5">Add Products</h1>
        </a>

        <div class="d-flex justify-content-center">
            <form action="/admin/add-product" method="post" enctype="multipart/form-data">
                <div class="row mb-3 mt-4">
                    <label for="" class="col-form-label">Product</label>
                    <div>
                        <input type="text" class="form-control" id="inputEmail3" name="product" required>
                    </div>
                </div>
                <div class="row mb-3 mt-4">
                    <label for="" class="col-form-label">Brand</label>
                    <div>
                        <input type="text" class="form-control" id="inputEmail3" name="brand" required>
                    </div>
                </div>

                <div class="row mb-3 mt-4">
                    <label for="" class="col-form-label">Stock</label>
                    <div>
                        <input type="number" class="form-control" id="inputEmail3" name="stock" required>
                    </div>
                </div>
                <div class="row mb-3 mt-4">
                    <label for="" class="col-form-label">Actual Price</label>
                    <div>
                        <input type="number" class="form-control" name="actualprice" required>
                    </div>
                </div>
                <div class="row mb-3 mt-4  ">
                    <label for="" class="col-form-label">Offer Price</label>
                    <div>
                        <input type="number" class="form-control" name="offerprice" required>
                    </div>
                </div>
                <div class="row mb-3 mt-4">
                    <label for="" class="col-form-label">Category</label>
                    <div>
                        <select id="inputState" class="form-select" name="category" required>
                            <option selected>Choose the Category...</option>
                            {{#each category}}
                            <option>{{this.category}}</option>
                            {{/each}}
                        </select>
                    </div>
                </div>
                <div class="row mb-3 mt-4">
                    <label for="" class="col-form-label">Image</label>
                    <img src="/product-images/{{product._id}}/{{product._id}}_0.png" alt=""
                        style="width:100px; height:auto;" id="imgView">
                    <div>
                        <input class="form-control" type="file" name="image" onchange="viewImage(event)" multiple>
                    </div>
                </div>
                <div class="d-flex justify-content-center">
                    <button type="submit" class="btn btn-primary">Save</button>&nbsp;<button type="reset"
                        class="btn btn-danger">Cancel</button>
                </div>
            </form>
        </div>
    </div>
</div>


<script>
    function viewImage(event) {
        document.getElementById('imgView').src = URL.createObjectURL(event.target.files[0])
    }
</script>