<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">


  {{!---------------------------------------------- DATATABLE ------------------------------------------------------}}
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.2.0/css/bootstrap.min.css">

  <link rel="stylesheet" href="https://cdn.datatables.net/1.12.1/css/dataTables.bootstrap5.min.css">

  {{!------------------------------------------- DATERANGE -------------------------------------------------------}}
  <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />

  {{!----------------------------------------- BOOTSTRAP CDN -------------------------------------------}}
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

  {{!--------------------------------------- FONTAWSOME ----------------------------------------}}
  <script src="https://kit.fontawesome.com/e3ae8df40e.js" crossorigin="anonymous"></script>

  {{!---------------------------------- GOOGLEAPIS -----------------------------------------}}
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

  {{!------------------------- RAZORPAY --------------------------------}}
  <script src="https://checkout.razorpay.com/v1/checkout.js"></script>

  <title>Alertzy</title>

  {{!--------------------------------- BOXICONS -----=====----------------------------}}
  <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>

  {{!------------------------------------ SWEETALERT-- -------------------------------------}}
  <link rel="stylesheet" type="text/css"
    href="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.css">

</head>

<body>
  {{#if admin}}
  {{>admin-sidebar}}
  <style>
    body {
      background-color: white;
    }
  </style>
  {{else if not}}
  {{else}}
  {{>user-header}}
  <style>
    body {
      background: url('/images/bg.jpg');
    }
  </style>
  {{/if}}
  {{{body}}}

  {{!---------------------------------------- JQUERY MIN -------------------------------------------}}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

  {{!------------------------------------ BOOTSTRAP BUNDLE--------------------------------------}}
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
    crossorigin="anonymous"></script>

  {{!------------------------------------------------ IMAGE ZOOM ---------------------------------------------}}
  <script src="https://unpkg.com/js-image-zoom@0.7.0/js-image-zoom.js" type="application/javascript"></script>

  {{!-------------------------------------- SWEETALERT -----------------------------------------------}}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.js"></script>

  {{!------------------------------- JQUERY ----------------------}}
  <script src="https://code.jquery.com/jquery-3.5.1.js"></script>

  {{!-------------------------------------- HTMLTOPDF ----------------------------------------------------}}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.9.3/html2pdf.bundle.min.js"></script>

  {{!------------------------------------- HTMLTOEXCEL -------------------------------------}}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.17.0/xlsx.full.min.js"></script>

  {{!----------------------------------------- CHART ---------------------------------------}}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>

  {{!----------------------------------------- DATERANGE ---------------------------------------------}}
  <script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
  <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
  <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>

  {{!-------------------------------------- DATATABLE -----------------------------------}}
  <script src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>
  <script src="https://cdn.datatables.net/1.12.1/js/dataTables.bootstrap5.min.js"></script>

  {{!-------------------- JS ---------------------}}
  <script src="/javascripts/script.js"></script>

</body>

</html>